.task-list {
  list-style: none;
}

.complete {
  text-decoration: line-through;
  opacity: .5;
}

.form-container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  /*max-width: 1000px;*/
  min-width: 1000px;
}

.wrapper {
  display: flex;
  flex-direction: column;
}

.welcome-title {
  font-size: 25px;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.button-container {
  display: flex;
  justify-content: center;
}

.create-button {
  margin-top: 10px;
  margin-bottom: 10px;
  /*max-width: 250px;*/
  width: 200px;
  height: 70px;
}

.task-item-container {
  display: flex;
  flex-direction: column;
  padding-top: 10px;
}

.task-list-container {
  padding: initial;
}

.task-list {
  margin: 15px;
}

.task-icon-container {
  display: flex;
}

.task-icon {
  margin: 0 auto;
}

.task-item-title {
  font-weight: bold;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

.task-item-description {
  word-wrap: break-word;
  text-align: center;
}

.task-item-time {
  padding-top: 10px;
  text-align: center;
}

.task-filter-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 30px;
  margin-bottom: 30px;
}
