.task-list {
  list-style: none;
  margin: 15px;
  display: flex;
  justify-content: space-around;
}

.complete {
  text-decoration: line-through;
  opacity: .5;
}

.task-checkbox {
  align-self: center;
  position: absolute;
  left: 1%;
}

.form-container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.wrapper {
  display: flex;
  flex-direction: column;
}

.welcome-title {
  font-size: 35px;
  text-align: center;
  margin: 10px;
}

.welcome-description {
  font-size: 25px;
  text-align: center;
  margin: 10px;
}

.button-container {
  display: flex;
  justify-content: center;
}

.create-button {
  margin-top: 20px;
  margin-bottom: 10px;
  width: 200px;
  height: 50px;
}

.task-item-container {
  display: flex;
  flex-direction: column;
  padding-top: 10px;
}

.task-list-container {
  padding: initial;
}

.task-icon-container {
  display: flex;
}

.task-icon {
  align-self: center;
  position: absolute;
  right: 1%;
}

.task-item-title {
  font-weight: bold;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

.task-item-description {
  word-wrap: break-word;
  text-align: center;
}

.task-item-time {
  padding-top: 10px;
  text-align: center;
}

.task-filter-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 30px;
  margin-bottom: 30px;
}

@media screen and (min-width: 576px) {

}

@media screen and (min-width: 768px) {
  .form-container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    min-width: 600px;
  }
}

@media screen and (min-width: 992px) {
  .todo-component-container {
    max-width: 1000px;
    margin: 0 auto;
  }
}
