<div class="weather-component-container">
  <div class="weather-buttons">
    <button mat-raised-button color="primary" (click)="cityToggle = !cityToggle">Search city</button>
  </div>
  <form class="form-container" *ngIf="cityToggle" (ngSubmit)="saveCity()">
    <mat-form-field>
      <input matInput [formControl]="cityInput" placeholder="Enter the name of City" [matAutocomplete]="auto">
      <mat-autocomplete #auto="matAutocomplete">
        <mat-option *ngFor="let city of filteredCities | async" [value]="city.name">
          <span>{{city.name}}</span> |
          <span>{{city.country}}</span>
        </mat-option>
      </mat-autocomplete>
      <mat-error *ngIf="cityInput.hasError('empty') && cityInput.touched">Untitled City does not exist</mat-error>
      <mat-error *ngIf="cityInput.hasError('short')">City name is too short</mat-error>
    </mat-form-field>
    <div class="button-container">
      <button class="city-button" mat-raised-button color="primary" [disabled]="!cityInput.valid">Find city</button>
    </div>
  </form>
  <div class="widget-container" *ngIf="weather.city">
    <h1 class="widget-city">City: {{weather.city}}</h1>
    <div class="temperature-container">
      <p>Temperature: {{weather.getTemperature}} °C</p>
      <div class="temperature-info">
        <p>Min temperature: {{weather.getTempMin}} °C</p>
        <p>Max temperature: {{weather.getTempMax}} °C</p>
      </div>
    </div>
    <h2>{{weather.weatherMain}}</h2>
    <p>{{weather.weatherDesc}}</p>
    <div>
      <img src="{{weather.getIcon}}" alt="icon">
    </div>
  </div>
</div>
