<div *ngIf="city">
  <h1>City: {{city}}</h1>
  <p>Temperature: {{temp}} °C</p>
</div>

<div class="weather-buttons">
  <button mat-raised-button color="primary" (click)="toggleCity()">Add city</button>
</div>
<form class="form-container" *ngIf="cityToggle" [formGroup]="cityForm" (ngSubmit)="saveCity()">
  <mat-form-field style="display: block">
    <input matInput formControlName="city" placeholder="Enter the name of City">
  </mat-form-field>
  <div class="button-container">
    <button class="city-button" mat-raised-button color="primary" [disabled]="!cityForm.valid">Find city</button>
  </div>
</form>
<form class="form-container" *ngIf="coordToggle" [formGroup]="coordForm" (ngSubmit)="saveCoord()">
  <mat-form-field style="display: block">
    <input matInput formControlName="lat" placeholder="Enter the lat">
  </mat-form-field>
  <mat-form-field style="display: block">
    <input matInput formControlName="lon" placeholder="Enter the lon">
  </mat-form-field>
  <div class="button-container">
    <button class="coord-button" mat-raised-button color="primary" [disabled]="!coordForm.valid">Enter coordinates
    </button>
  </div>
</form>
