.widget-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  background-color: white;
  border: 1px solid black;
  margin: 10px;
}

.temperature-container {
  display: flex;
  flex-direction: column;
  font-size: 25px;
}

.temperature-info {
  display: flex;
  justify-content: space-around;
  font-size: 20px;
}

.weather-buttons {
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
  margin-bottom: 10px;
}

.form-container {
  display: flex;
  flex-direction: column;
  margin: 10px;
  max-width: 1000px;
}

.city-button {
  display: flex;
  justify-content: center;
}

.button-container {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

@media screen and (min-width: 576px) {
  .weather-component-container {
    max-width: 577px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 768px) {

}

@media screen and (min-width: 992px) {

}


