<div class="task-edit-container">
  <form class="form-container" [formGroup]="form">
    <mat-form-field>
      <input matInput formControlName="task" placeholder="Enter the title of ToDo:">
    </mat-form-field>
    <label>
      <mat-form-field style="display: block">
        <textarea matInput formControlName="description"
                  placeholder="Enter description (not necessary)"></textarea>
      </mat-form-field>
    </label>
  </form>
  <div class="task-edit-buttons-container">
    <button class="task-edit-button" mat-raised-button [routerLink]="[ '/todo' ]">Back</button>
    <button class="task-edit-button" mat-raised-button color="primary" (click)="editTask()" [routerLink]="[ '/todo' ]"
            [disabled]="!form.valid">Update
    </button>
  </div>
</div>
